{%extends "layout.html"%}
{%block body%}

<h1>Search Page</h1>
<p>Search for skills you need your prospective employee to have</p>

<form action="/search"  method="POST">
  <div>
    <label for="mySearch">Search for skills:</label>
    <input type="search" id="mySearch" name="search"
    placeholder="Input key word" required
    size="100">
    <button>Search</button>
    <span class="validity"></span>
    <table class="table table-bordered table-hover">
                <!--
                <thead>
                  <th>Name</th>
                  <th>Github Link</th>
                </thead>
                pattern="[A-Za-z]"
            -->
                 {% for row in rows %}
                  <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                  </tr>
                {% endfor %}

    </table>

    
  </div>
</form>

	
{%endblock%}
